@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

html {
    background-color: #000000;
}

.container {
    display: flex;
    max-width: 90vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.letter {
    font-family: "Work Sans", sans-serif;
    font-size: 14vw;
    font-weight: 100;
    color: #ffffff;
}

.letter::before {
    display: block;
    content: attr(id);
    font-weight: 900;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}